@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200;300&family=Lora:wght@400;500;600&family=Montserrat:wght@400;700&display=swap');

:root{
    --crimson-pro: 'Crimson Pro', serif;
    --lora: 'Lora', serif;
    --montserrat: 'Montserrat', sans-serif;

}

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body{
   background-color: rgba(24, 23, 25, 1);
   color: #fff;
}

#header-wrapper{
    display: flex; 
}

#title-wrapper{
    border: 1px solid #fff;
    width: 102px;
    height: 32px;
    margin-top: 42px;
    margin-left: 77px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title-wrapper > h4{
    font-family: var(--crimson-pro);
    text-transform: uppercase;
    width: 86px;
    font-weight: 200;
    font-size: 14px;
    line-height: 15.56px;
   
}

#menu-wrapper{
    display: flex;
}